//----------  fonts
//------------------------------------------------------------------------------
/*@font-face {
	font-family: 'Gotham';
	src: url("../assets/fonts/GothamNarrowBook.ttf") format("truetype");
 }
 @font-face {
	font-family: 'Helvetica';
	src: url("../assets/fonts/HelveticaNeueMedium.ttf") format("truetype");
 }
 @font-face {
	font-family: 'Helvetica-bold';
	src: url("../assets/fonts/HelveticaNeueBold.ttf") format("truetype");
 }
 @font-face {
	font-family: 'Helvetica-light';
	src: url("../assets/fonts/HelveticaNeueLight.ttf") format("truetype");
 }
@font-face {
	font-family: 'Helvetica-italic';
	src: url("../assets/fonts/HelveticaNeueItalic.ttf") format("truetype");
 }
 @font-face {
	font-family: 'Helvetica-light-italic';
	src: url("../assets/fonts/HelveticaNeueLightItalic.ttf") format("truetype");
 }
*/